{ns hl7-org-nz-fhir-ig-hpi.esam-id,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "The id from eSam",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/esam-id",
         :zen.fhir/version "0.6.20-2",
         :confirms #{hl7-fhir-r4-core.string/schema}}}
