{ns hl7-org-nz-fhir-ig-hpi.HpiLocation,
 import #{hl7-org-nz-fhir-ig-hpi.HpiOrganization
          zen.fhir
          fhir-org-nz-ig-base.NzLocation
          fhir-org-nz-ig-base.messaging-address
          fhir-org-nz-ig-base.NzAddress
          hl7-org-nz-fhir-ig-hpi.HpiLocation},
 schema {:zen.fhir/version "0.6.21-2",
         :confirms #{fhir-org-nz-ig-base.NzLocation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/HPILocation",
         :require #{:identifier},
         :type zen/map,
         :zen/desc "A physical location from which health goods and/or services are provided.  They are also referred to as an HPI Facility.",
         :keys {:messaging-address {:confirms #{fhir-org-nz-ig-base.messaging-address/schema},
                                    :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/messaging-address"},
                :address {:confirms #{fhir-org-nz-ig-base.NzAddress/schema},
                          :type zen/map,
                          :keys {:use {:zen/desc "work | old - purpose of this address"}}},
                :managingOrganization {:confirms #{zen.fhir/Reference},
                                       :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}},
                :established {:zen/desc "The date when this location first became available for use"},
                :status {:zen/desc "active | inactive"},
                :identifier {:type zen/vector,
                             :slicing {:slices {"facId" {:schema {:type zen/vector,
                                                                  :minItems 1,
                                                                  :maxItems 1,
                                                                  :every {:type zen/map,
                                                                          :keys {:use {:const {:value "official"},
                                                                                       :zen/desc "fixed to official"},
                                                                                 :system {:const {:value "https://standards.digital.health.nz/ns/hpi-facility-id"}},
                                                                                 :assigner {:confirms #{zen.fhir/Reference},
                                                                                            :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                          :require #{:system
                                                                                     :use}}},
                                                         :filter {:engine :match,
                                                                  :match {:use "official",
                                                                          :system "https://standards.digital.health.nz/ns/hpi-facility-id"}}},
                                                "dormant" {:schema {:type zen/vector,
                                                                    :every {:type zen/map,
                                                                            :keys {:use {:const {:value "old"},
                                                                                         :zen/desc "fixed to old"},
                                                                                   :system {:const {:value "https://standards.digital.health.nz/ns/hpi-facility-id"}},
                                                                                   :assigner {:confirms #{zen.fhir/Reference},
                                                                                              :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                            :require #{:system
                                                                                       :use}}},
                                                           :filter {:engine :match,
                                                                    :match {:use "old",
                                                                            :system "https://standards.digital.health.nz/ns/hpi-facility-id"}}},
                                                "legacyFacId" {:schema {:type zen/vector,
                                                                        :maxItems 1,
                                                                        :every {:type zen/map,
                                                                                :keys {:use {:const {:value "official"},
                                                                                             :zen/desc "fixed to official"},
                                                                                       :system {:const {:value "https://standards.digital.health.nz/ns/nzhis-facility-id"}},
                                                                                       :assigner {:confirms #{zen.fhir/Reference},
                                                                                                  :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                                :require #{:system
                                                                                           :use}}},
                                                               :filter {:engine :match,
                                                                        :match {:use "official",
                                                                                :system "https://standards.digital.health.nz/ns/nzhis-facility-id"}}}}},
                             :every {:type zen/map,
                                     :keys {:use {:zen/desc "official | old"}}},
                             :minItems 1},
                :hoursOfOperation {:type zen/vector, :maxItems 0},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:use {:zen/desc "work | temp - purpose of this contact point"}}}},
                :partOf {:confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiLocation/schema}}},
                :_alias {:type zen/vector,
                         :every {:type zen/map,
                                 :keys {:alias-type {:zen/desc "The type of alias this is - eg its Maori name"}}}},
                :endpoint {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}}},
                           :maxItems 0},
                :dhb {:zen/desc "The identifier for the DHB that is associated with this location"}},
         :zen.fhir/type "Location"}}
