{ns hl7-org-nz-fhir-ig-hpi.HpiOrganization,
 import #{hl7-org-nz-fhir-ig-hpi.HpiOrganization
          zen.fhir
          fhir-org-nz-ig-base.NzOrganization
          fhir-org-nz-ig-base.NzAddress},
 schema {:zen.fhir/version "0.6.30-1",
         :confirms #{fhir-org-nz-ig-base.NzOrganization/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/HPIOrganization",
         :require #{:identifier},
         :type zen/map,
         :zen/desc "An entity that provides services of interest to, or is involved in, the business of health care service provision.",
         :keys {:address {:type zen/vector,
                          :every {:confirms #{fhir-org-nz-ig-base.NzAddress/schema}},
                          :maxItems 0},
                :established {:zen/desc "The period over which this Organization has been established"},
                :identifier {:type zen/vector,
                             :slicing {:slices {"orgId" {:schema {:type zen/vector,
                                                                  :minItems 1,
                                                                  :maxItems 1,
                                                                  :every {:type zen/map,
                                                                          :keys {:use {:const {:value "official"},
                                                                                       :zen/desc "fixed to official"},
                                                                                 :system {:const {:value "https://standards.digital.health.nz/ns/hpi-organisation-id"}},
                                                                                 :assigner {:confirms #{zen.fhir/Reference},
                                                                                            :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                          :require #{:system
                                                                                     :use}}},
                                                         :filter {:engine :match,
                                                                  :match {:use "official",
                                                                          :system "https://standards.digital.health.nz/ns/hpi-organisation-id"}}},
                                                "legacyOrgId" {:schema {:type zen/vector,
                                                                        :maxItems 1,
                                                                        :every {:type zen/map,
                                                                                :keys {:use {:const {:value "official"},
                                                                                             :zen/desc "fixed to official"},
                                                                                       :system {:const {:value "https://standards.digital.health.nz/ns/nzhis-agency-id"}},
                                                                                       :assigner {:confirms #{zen.fhir/Reference},
                                                                                                  :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                                :require #{:system
                                                                                           :use}}},
                                                               :filter {:engine :match,
                                                                        :match {:use "official",
                                                                                :system "https://standards.digital.health.nz/ns/nzhis-agency-id"}}},
                                                "nzbn" {:schema {:type zen/vector,
                                                                 :maxItems 1,
                                                                 :every {:type zen/map,
                                                                         :keys {:use {:const {:value "official"},
                                                                                      :zen/desc "fixed to official"},
                                                                                :system {:const {:value "https://standards.digital.health.nz/ns/hpi-nzbn"}},
                                                                                :assigner {:confirms #{zen.fhir/Reference},
                                                                                           :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                         :require #{:system
                                                                                    :use}}},
                                                        :filter {:engine :match,
                                                                 :match {:use "official",
                                                                         :system "https://standards.digital.health.nz/ns/hpi-nzbn"}}},
                                                "dormant" {:schema {:type zen/vector,
                                                                    :every {:type zen/map,
                                                                            :keys {:use {:const {:value "old"},
                                                                                         :zen/desc "fixed to old"},
                                                                                   :system {:const {:value "https://standards.digital.health.nz/ns/hpi-organisation-id"}},
                                                                                   :assigner {:confirms #{zen.fhir/Reference},
                                                                                              :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                            :require #{:system
                                                                                       :use}}},
                                                           :filter {:engine :match,
                                                                    :match {:use "old",
                                                                            :system "https://standards.digital.health.nz/ns/hpi-organisation-id"}}}}},
                             :every {:type zen/map,
                                     :keys {:use {:zen/desc "official | old"}}},
                             :minItems 1},
                :partOf {:confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}},
                :_alias {:type zen/vector,
                         :every {:type zen/map,
                                 :keys {:alias-type {:zen/desc "The type of alias for this Organization - eg its Maori name"}}}},
                :endpoint {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}}},
                           :maxItems 0},
                :contact {:type zen/vector, :maxItems 0}},
         :zen.fhir/type "Organization"}}
