{ns hl7-org-nz-fhir-ig-hpi.HPIPractitioner,
 import #{hl7-org-nz-fhir-ig-hpi.HpiOrganization
          zen.fhir
          fhir-org-nz-ig-base.NzAddress
          fhir-org-nz-ig-base.NzPractitioner},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "The practitioner exposed by the HPI. This is the person who delivers healthcare or healthcare related services.",
         :zen.fhir/type "Practitioner",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/HPIPractitioner",
         :zen.fhir/version "0.6.31",
         :confirms #{zen.fhir/Resource
                     fhir-org-nz-ig-base.NzPractitioner/schema},
         :type zen/map,
         :keys {:address {:type zen/vector,
                          :every {:confirms #{fhir-org-nz-ig-base.NzAddress/schema}},
                          :maxItems 0},
                :death-date {:zen/desc "The date this person died"},
                :name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:suffix {:type zen/vector,
                                               :maxItems 0},
                                      :use {:zen/desc "usual | official | old"}}}},
                :ethnicity {:type zen/vector, :maxItems 6},
                :educational-qualification {:type zen/map,
                                            :keys {:country {:type zen/map,
                                                             :keys {:value {:fhir/polymorphic true,
                                                                            :type zen/map}}}}},
                :photo {:type zen/vector, :maxItems 0},
                :identifier {:type zen/vector,
                             :slicing {:slices {"HPI" {:schema {:type zen/vector,
                                                                :maxItems 1,
                                                                :every {:type zen/map,
                                                                        :keys {:use {:const {:value "official"},
                                                                                     :zen/desc "fixed to official"},
                                                                               :system {:const {:value "https://standards.digital.health.nz/ns/hpi-person-id"}},
                                                                               :assigner {:confirms #{zen.fhir/Reference},
                                                                                          :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                        :require #{:system
                                                                                   :use}}},
                                                       :filter {:engine :match,
                                                                :match {:use "official",
                                                                        :system "https://standards.digital.health.nz/ns/hpi-person-id"}}},
                                                "dormant" {:schema {:type zen/vector,
                                                                    :every {:type zen/map,
                                                                            :keys {:use {:const {:value "old"},
                                                                                         :zen/desc "fixed to old"},
                                                                                   :system {:const {:value "https://standards.digital.health.nz/ns/hpi-person-id"}},
                                                                                   :assigner {:confirms #{zen.fhir/Reference},
                                                                                              :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                            :require #{:system
                                                                                       :use}}},
                                                           :filter {:engine :match,
                                                                    :match {:use "old",
                                                                            :system "https://standards.digital.health.nz/ns/hpi-person-id"}}},
                                                "RA" {:schema {:type zen/vector,
                                                               :every {:type zen/map,
                                                                       :keys {:use {:const {:value "official"},
                                                                                    :zen/desc "fixed to official"},
                                                                              :assigner {:confirms #{zen.fhir/Reference},
                                                                                         :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}}},
                                                                       :require #{:use}}},
                                                      :filter {:engine :match,
                                                               :match {:use "official"}}}}},
                             :every {:type zen/map,
                                     :keys {:use {:zen/desc "official | old"}}}},
                :qualification {:type zen/vector,
                                :every {:type zen/map,
                                        :keys {:condition-on-practice {:zen/desc "Conditions that have been applied to the ability of the person to practice"},
                                               :scope-of-practice {:zen/desc "the health services a practitioner is authorised to perform eg Nurse Practitioner"},
                                               :code {:zen/desc "Coded representation of the Responsible Authority that issues the registration"},
                                               :identifier {:type zen/vector,
                                                            :every {:zen/desc "The practitioner's identifier issued by the Responsible Authority eg medical council number, nursing council number"}},
                                               :issuer {:confirms #{zen.fhir/Reference},
                                                        :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}},
                                                        :zen/desc "The HPI Organisation ID of the Responsible Authority that issues the registration"},
                                               :period {:zen/desc "The period of the annual practicing certificate issued by the  Responsible Authority"},
                                               :registration-status-code {:zen/desc "Status of the registration, and the date it was set"},
                                               :registration-initial-date {:zen/desc "The date that the person was originally registered"},
                                               :additional-authorisation {:zen/desc "Additional things the person is authorized to do"}}}},
                :telecom {:type zen/vector, :maxItems 0}}}}
