{ns hl7-org-nz-fhir-ig-hpi.HPIPractitionerRole,
 import #{hl7-org-nz-fhir-ig-hpi.HpiOrganization
          zen.fhir
          fhir-org-nz-ig-base.NzPractitionerRole
          fhir-org-nz-ig-base.messaging-address
          hl7-org-nz-fhir-ig-hpi.HpiLocation
          hl7-org-nz-fhir-ig-hpi.HPIPractitioner},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "The practitioner role exposed by the HPI. Used to connect Practitioners with Organizations and Locations, indicating the role they have. A single Practitioner can have roles with multiple organizations.",
         :zen.fhir/type "PractitionerRole",
         :zen.fhir/profileUri "http://hl7.org.nz/fhir/StructureDefinition/HPIPractitionerRole",
         :zen.fhir/version "0.6.29-22",
         :confirms #{fhir-org-nz-ig-base.NzPractitionerRole/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:messaging-address {:confirms #{fhir-org-nz-ig-base.messaging-address/schema},
                                    :fhir/extensionUri "http://hl7.org.nz/fhir/StructureDefinition/messaging-address"},
                :availableTime {:type zen/vector,
                                :every {:type zen/map,
                                        :keys {:daysOfWeek {:type zen/vector,
                                                            :maxItems 0}}},
                                :maxItems 0},
                :specialty {:type zen/vector, :maxItems 0},
                :notAvailable {:type zen/vector, :maxItems 0},
                :organization {:confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiOrganization/schema}}},
                :code {:type zen/vector, :maxItems 1},
                :identifier {:type zen/vector,
                             :slicing {:slices {"RI" {:schema {:type zen/vector,
                                                               :maxItems 1,
                                                               :every {:type zen/map,
                                                                       :keys {:use {:const {:value "official"},
                                                                                    :zen/desc "PractitionerRole Id"},
                                                                              :system {:const {:value "https://standards.digital.health.nz/ns/hpi-practitionerrole-id"}}},
                                                                       :require #{:system
                                                                                  :use}}},
                                                      :filter {:engine :match,
                                                               :match {:use "official",
                                                                       :system "https://standards.digital.health.nz/ns/hpi-practitionerrole-id"}}}}}},
                :practitionerRole-creator {:zen/desc "The person and/or organization that created the PR"},
                :practitioner {:confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HPIPractitioner/schema}}},
                :location {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{hl7-org-nz-fhir-ig-hpi.HpiLocation/schema}}},
                           :maxItems 1},
                :endpoint {:type zen/vector,
                           :every {:confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}}},
                           :maxItems 0},
                :healthcareService {:type zen/vector,
                                    :every {:confirms #{zen.fhir/Reference},
                                            :zen.fhir/reference {:refers #{}}},
                                    :maxItems 0},
                :practitionerRole-status-reason {:zen/desc "The reason for the status of this role. Generally when it is inactive."}}}}
